{% extends 'base.html' %}
{% load static %}

{% block content %}

</head>

<body>

  {% if messages %}
  {% for message in messages %}
  {% if  message.tags == "error" %}
  <div class="alert alert-danger" role="alert">
    {% else %}
    <div class="alert alert-success" role="alert">
      {% endif %}
      {{message}}
    </div>
    {% endfor %}
    {% endif %}


    <nav class="navbar navbar-default navbar-absolute">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><img src="{% static 'fichaube/imagen/Dae-PUCV.png' %}" class="img-responsive" alt="Responsive image" width="250"></a>
        </div>
      </div>
    </nav>

    <div class="wrapper wrapper-full-page">
      <div class="full-page login-page" data-color="blue">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="content">
          <div class="container">
            <div class="row">

              <div class="col-md-7 offset-md-2">
                </br>
                <p style="font-weight: bold; font-size: 1.1em;">
                  Te hemos enviado las instrucciones para configurar tu nueva contraseña, si es que existe una cuenta ligada
                  al email ingresado. La recibirás dentro de muy poco.
                </p>
                </br>
                <p style="font-weight: bold; font-size: 1.1em;">
                  Si no recibiste ningún mail, procura revisar la bandeja SPAM y asegurarte de que ingresaste el
                  email correctamente.
                </p>
                </br>
              </div>
            </div>

            </br>
            </br>
          </div>
        </div>
      </div>
    </div>

      {% endblock %}
