{% extends 'base.html' %}
{% load static %}

{% block content %}

</head>

<body>

  {% if messages %}
  {% for message in messages %}
  {% if  message.tags == "error" %}
  <div class="alert alert-danger" role="alert">
    {% else %}
    <div class="alert alert-success" role="alert">
      {% endif %}
      {{message}}
    </div>
    {% endfor %}
    {% endif %}

    <nav class="navbar navbar-default navbar-absolute">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><img src="{% static 'fichaube/imagen/Dae-PUCV.png' %}" class="img-responsive" alt="Responsive image" width="250"></a>
        </div>
      </div>
    </nav>

    <div class="wrapper wrapper-full-page">
      <div class="full-page login-page" data-color="blue">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="content">
          <div class="container">
            <div class="row">


                <div class="row">
                  <div class="col-md-6 offset-md-3">
                    </br>
                    <h3>¿Olvidó su contraseña?</h3>
                    <form method="post">
                      {% csrf_token %}
                      {{ form.as_p }}
                      </br>
                      <button class="btn btn-seconday" type="submit">Enviar</button>
                    </form>
                  </div>
                </div>

                </br>
                </br>

            </div>
          </div>
        </div>
      </div>
    </div>
          {% endblock %}
