{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if messages %}
{% for message in messages %}
{% if  message.tags == "error" %}
<div class="alert alert-danger" role="alert">
  {% else %}
  <div class="alert alert-success" role="alert">
    {% endif %}
    {{message}}
  </div>
  {% endfor %}
  {% endif %}

  <div class="col-sm-12 col-sm-offset-1">
    <div class="card">
      <div class="card-content">

        <div class="row">
          <div class="col-md-7 offset-md-2">
            </br>
            {% if validlink %}
            <h3>Cambiar Contraseña</h3>
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit">Guardar</button>
            </form>
            {% else %}
            <p>
              El link de restablecimiento de contraseña no es válido, posiblemente porque ya se ha utilizado.
              Solicite una nueva restauración de contraseña.
            </p>
            {% endif %}
            </br>
          </div>
        </div>

        </br>
      </div>
    </div>
  </div>
  {% endblock %}
