{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if messages %}
{% for message in messages %}
{% if  message.tags == "error" %}
<div class="alert alert-danger" role="alert">
  {% else %}
  <div class="alert alert-success" role="alert">
    {% endif %}
    {{message}}
  </div>
  {% endfor %}
  {% endif %}

  <div class="col-sm-12 col-sm-offset-1">
    <div class="card">
      <div class="card-content">

        <div class="row">
          <div class="col-md-7 offset-md-2">
            </br>
            <p style="font-weight: bold; font-size: 1.1em;">
              Te hemos enviado las instrucciones para configurar tu nueva contraseña, si es que existe una cuenta ligada
              al email ingresado. La recibirás dentro de muy poco.
            </p>
            </br>
            <p style="font-weight: bold; font-size: 1.1em;">
              Si no recibiste ningún mail, procura revisar la bandeja SPAM y asegurarte de que ingresaste el
              email correctamente.
            </p>
            </br>
          </div>
        </div>

        </br>
        </br>
      </div>
    </div>
  </div>
  {% endblock %}
