{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if messages %}
{% for message in messages %}
{% if  message.tags == "error" %}
<div class="alert alert-danger" role="alert">
  {% else %}
  <div class="alert alert-success" role="alert">
    {% endif %}
    {{message}}
  </div>
  {% endfor %}
  {% endif %}

  <div class="col-sm-12 col-sm-offset-1">
    <div class="card">
      <div class="card-content">

        <div class="row">
          <div class="col-md-6 offset-md-3">
            </br>
            <h3>¿Olvidó su contraseña?</h3>
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              </br>
              <button class="btn btn-seconday" type="submit">Enviar</button>
            </form>
          </div>
        </div>

        </br>
        </br>
      </div>
    </div>
  </div>
  {% endblock %}
