{% extends 'home.html' %}


{% block content %}

<div class="col-sm-12 col-sm-offset-1">
    <div class="header text-center">
        <h2>Crear Encuesta</h2>
    </div>
</div>

{% if messages %}
    {% for message in messages %}
    {% if  message.tags == "error" %}
    <div class="alert alert-danger" role="alert">
    {% else %}
    <div class="alert alert-success" role="alert">
    {% endif %}
        {{message}}
    </div>
    {% endfor %}
{% endif %}

<div class="col-sm-12 col-sm-offset-1">
    <div class="card">
        <div class="card-content">
            
            <div class="cuadro-form">

                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="inputAnno" class="col-sm-2 col-form-label">Ingrese Año de Encuesta:</label>
                        <div class="col-sm-6">
                            <input type="number" class="form-control" id="inputAnno" name="inputAnno" placeholder="p.e. 2019" min="2019" required>
                        </div>
                    </div>
                    </br>
                   <div class="form-group row">
                        <label for="inputActivado" class="col-sm-6 col-form-label">¿Desea dejar esta encuesta como "activada"?</label>
                        <div class="col-sm-2">
                            <select class="custom-select mr-sm-2" id="inputActivo" name="inputActivo" required>
                                <option value="" selected>Elegir...</option>
                                <option value="0">No</option>
                                <option value="1">Sí, deseo dejarla como la Encuesta activa</option>
                            </select>
                        </div>
                    </div>

                    <div class="element-wrapper">
                        <!-- ROW A DUPLICAR -->
                        <div class="form-group row pregunta">

                            <label class="col-sm-2 col-form-label">Ingrese Pregunta:</label>
                            <div class="col-sm-6">
                                <input type="text" name="inputPregunta" class="form-control" placeholder="¿...?" required>
                            </div>

                            <button class="btn-remove-row">Eliminar Pregunta</button>
        
                        </div>
                    </div>
                    <br>
                    <button class="btn-adding-row">Agregar Pregunta</button>
                    </br>
                    </br>

                    <button id="botonAgregar" type="submit" class="btn btn-primary" disabled>Crear</button>
                </form>

            </div>
        </div>
    </div>
</div>


{% endblock content %}