{% extends 'home.html' %}


{% block content %}

<div class="col-sm-12 col-sm-offset-1">
  <div class="header text-center">
    <h2>Editar Alumno</h2>
  </div>
</div>

{% if messages %}
{% for message in messages %}
{% if  message.tags == "error" %}
<div class="alert alert-danger" role="alert">
  {% else %}
  <div class="alert alert-success" role="alert">
    {% endif %}
    {{message}}
  </div>
  {% endfor %}
  {% endif %}

  <div class="col-sm-12 col-sm-offset-1">
    <div class="card">
      <div class="card-content">

        <div class="cuadro-form">

          <form method="POST" name="menuForm">
            {% csrf_token %}

            <div class="form-group row" name="groupRut" id="groupRut">
              <label for="inputRut" class="col-sm-3 col-form-label">Rut/Pasaporte:</label>
              <div class="col-sm-7">
                <input disabled type="text" class="form-control" id="inputRut" name="inputRut" value="{{ alumno.rut }}" autofocus>
              </div>
              <small class="text-info" id="msgRut"></small>
            </div>


            </br>


            <div class="form-group row">
              <label for="inputNombre" class="col-sm-2 col-form-label">Nombres:</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="inputNombre" name="inputNombre" value="{{ alumno.nombre }}" required>
              </div>
            </div>


            <div class="form-group row">
              <label for="inputNombre" class="col-sm-2 col-form-label">Apellidos:</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" id="inputApellidoPaterno" name="inputApellidoPaterno" value="{{ alumno.apellido_paterno }}" required>
              </div>
              <div class="col-sm-5">
                <input type="text" class="form-control" id="inputApellidoMaterno" name="inputApellidoMaterno" value="{{ alumno.apellido_materno }}" required>
              </div>
            </div>


            </br>


            <div class="form-group row">
              <label for="inputCorreo" class="col-sm-2 col-form-label">Correo:</label>
              <div class="col-sm-8">
                <input type="email" class="form-control" id="inputCorreo" name="inputCorreo" value="{{ alumno.correo }}" required>
              </div>
            </div>



            </br>



            <div class="form-group row">
              <label for="inputDomicilio" class="col-sm-2 col-form-label">Domicilio:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputDomicilio" name="inputDomicilio" value="{{ alumno.domicilio }}" required>
              </div>
            </div>


            </br>


            <div class="form-group row">
              <label for="inputCarrera" class="col-sm-2 col-form-label">Carrera:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputCarrera" name="inputCarrera" value="{{ alumno.carrera }}" required>
              </div>
            </div>


            </br>


            <div class="form-group row">
              <label for="inputRepresentante" class="col-sm-2 col-form-label">Representante Legal o Apoderado:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputRepresentante" name="inputRepresentante" value="{{ alumno.representante_legal }}" required>
              </div>
            </div>

            </br>


            <div class="form-group row">
              <label for="inputPrevision" class="col-sm-2 col-form-label">Prevision:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputPrevision" name="inputPrevision" value="{{ alumno.prevision }}" required>
              </div>
            </div>

            </br>
            </br>

            <div class="row">
              <div class="col-md-3 ml-md-auto">
                <button id="botonGuardar" type="submit" class="btn btn-primary">Guardar</button>
              </div>
              <div class="col-md-3 ml-md-auto">
                <a href="{% url 'alumnos:verAlumno' id_alumno=alumno.id %}" role="button" class="btn btn-secondary">Atrás</a>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

  {% endblock content %}
