<html>
  <body>
    <form id="formularioNuevaArea" action="agregarArea" method="post"> {% csrf_token %}
      {{ form.as_p }}
      <label for="area">Ingrese area: </label>
      <br>
      <input id="area" type="text" name="area">
      <input type="submit" value="Submit">
    </form>

   <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    {% block javascript %}
      <script>

        //  validar formulario
        $('#formularioNuevaArea').submit(function(e){
          e.preventDefault();
          var form = this;
          var area = $('#area').val();
          // formulario no esta vacio
          if (area == null || area == ""){
            alert('Debe ingresar un Area');
            return false;
          }
          else{
            // codigo AJAX  para comprobar si el area existe previamente
            $.ajax({
              url: 'ajax/validarArea',
              data: {
                'area': area
              },
              dataType: 'json',
              success: function (data) {
                if (data.is_taken){
                  alert('La Area ingresada ya se encuentra registrada');
                  return false;
                }
                else{
                  form.submit();
                }
            }
          }); // fin AJAX
        }
      });

      </script>
    {% endblock %}
  </body>
</html>
