<html>
  <body>
    <form action="agregarArea" method="post" onsubmit="return validarFormulario()"> {% csrf_token %}
      {{ form.as_p }}
      <label for="area">Ingrese area: </label>
      <br>
      <input id="area" type="text" name="area">
      <input type="submit" value="Submit">
    </form>

   <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    {% block javascript %}
      <script>  // AJAX para corroborar que el area ya existe
        $("#area").change(function () {
          // console.log($(this).val());
          var area = $(this).val();
          $.ajax({
            url: 'ajax/validarArea',
            data: {
              'area': area
            },
            dataType: 'json',
            success: function (data) {
              if (data.is_taken){
                alert('La Area ingresada ya se encuentra registrada')
              }
            }
          });
        });


        // funcion para validar que el campo no esta vacio
        function validarFormulario(){
          area = document.getElementById('area').value
          // console.log(area);
          if (area == null || area == ""){
            alert('Debe ingresar un Área');
            return false;
          }
          else {
            return true;
          }
        }

      </script>
    {% endblock %}
  </body>
</html>
