{% load staticfiles %}
{% load static %}


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
        <link rel="icon" type="image/png" href="{% static 'fichaube/imagen/favicon.png' %}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>Fichaube</title>
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'fichaube/bootstrap/3.4.1/css/bootstrap.min.css' %}">
        <!--  Material Dashboard CSS    -->
        <link rel="stylesheet" type="text/css" href="{% static 'fichaube/js/librerias/turbo/assets/css/turbo.css'%}">
        <!-- Estilo Navegador PUCV CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'fichaube/css/nave.css' %}">
        <!--     Fonts and icons     -->
        <link rel="stylesheet" type="text/css" href="{% static 'fichaube/font-awesome/css/font-awesome.min.css' %}">

        <!-- CUANDO NO SE ENCUENTRA LA PAGINA
             <link rel="apple-touch-icon" sizes="76x76" href="https://nave13.ucv.cl/js/librerias/turbo/assets/img/apple-icon.png"> -->


        <!--    JQuery UI     -->
        <link type="text/css" href="{% static 'fichaube/js/librerias/turbo/assets/vendors/jquery-ui-1.12.0/jquery-ui.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'fichaube/js/librerias/turbo/assets/vendors/material-design-iconic-font/dist/css/material-design-iconic-font.css' %}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'fichaube/js/librerias/turbo/assets/css/css.css' %}" />
        <!-- <script src='https://www.google.com/recaptcha/api.js'></script> -->

        {% block content %}{% endblock %}

    <footer class="footer">
        <div class="container-fluid">
            <nav class="pull-left">
                <img src="{% static 'fichaube/imagen/logoPUCV.png' %}" class="img-responsive" alt="Responsive image">
            </nav>
            <p class="copyright pull-right">
                &iquest;Tiene alg&uacute;n problema? Env&iacute;e un email a <a href="mailto: macarena.garate.m@mail.pucv.cl" style="color:#fff; font-weight: bold;">macarena.garate.m@mail.pucv.cl</a>
                <br>
                Plataforma desarrollada por Estudiantes de Ingenier&iacute;a Ejecuci&oacute;n en Inform&aacute;tica
            </p>
        </div>
    </footer>


		<!-- jQuery CDN - Slim version (=without AJAX) -->
          <!-- ESTA ES LA VERSION SLIM DE JQUERY
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
          -->
          <!-- VERSION FULL DE JQUERY -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- MDBootstrap Datatables  -->
    <!--<script type="text/javascript" src="{% static 'fichaube/mdbootstrap/js/addons/datatables.min.js' %}"></script>-->

    <script type="text/javascript" src="{% static 'fichaube/js/validarut.js' %}"></script>
    <script type="text/javascript" src="{% static 'fichaube/js/validapass.js' %}"></script>
    <script type="text/javascript" src="{% static 'fichaube/js/activadorRutPasaporte.js' %}"></script>
    <script type="text/javascript" src="{% static 'fichaube/js/activadorAreaEspecialidad.js' %}"></script>
    <script type="text/javascript" src="{% static 'fichaube/js/sorttable.js' %}"></script>


</body>
</html>
