{% extends 'home.html' %}


{% block content %}

<div class="col-sm-12 col-sm-offset-1">
  <div class="header text-center">
    <h2>Crear Usuario</h2>
  </div>
</div>

{% if messages %}
{% for message in messages %}
{% if  message.tags == "error" %}
<div class="alert alert-danger" role="alert">
  {% else %}
  <div class="alert alert-success" role="alert">
    {% endif %}
    {{message}}
  </div>
  {% endfor %}
  {% endif %}

  <div class="col-sm-12 col-sm-offset-1">
    <div class="card">
      <div class="card-content">

        <div class="cuadro-form">

          <form method="POST">
            {% csrf_token %}

            <div class="form-group row">
              <label for="inputRut" class="col-sm-2 col-form-label">Ingrese su Rut:</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="inputRut" name="inputRut" placeholder="p.e. 12345678-9" required autofocus>
              </div>
              <small class="text-info" id="msgRut"></small>
            </div>


            </br>


            <div class="form-group row">
              <label for="inputNombre" class="col-sm-2 col-form-label">Nombres:</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="inputNombre" name="inputNombre" placeholder="Nombres" required>
              </div>
            </div>


            <div class="form-group row">
              <label for="inputNombre" class="col-sm-2 col-form-label">Apellidos:</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" id="inputApellidoPaterno" name="inputApellidoPaterno" placeholder="Apellido Paterno" required>
              </div>
              <div class="col-sm-5">
                <input type="text" class="form-control" id="inputApellidoMaterno" name="inputApellidoMaterno" placeholder="Apellido Materno" required>
              </div>
            </div>


            </br>


            <div class="form-group row">
              <label for="inputCorreo" class="col-sm-2 col-form-label">Correo:</label>
              <div class="col-sm-8">
                <input type="email" class="form-control" id="inputCorreo" name="inputCorreo" placeholder="email@example.com" required>
              </div>
            </div>

            </br>


            <div class="form-group row">
              <label for="inputTipoUsuario" class="col-sm-2 col-form-label">Elija tipo de usuario:</label>
              <div class="col-sm-4">
                <select class="custom-select mr-sm-2" id="inputTipoUsuario" name="inputTipoUsuario" onchange='CheckUsuario(this.value);' required>
                  <option value="" selected>Elegir...</option>
                  <option value="1">Profesional</option>
                  <option value="2">Administrativo</option>
                  <option value="3">Mantenedor</option>
                  <option value="4">Asistente Social</option>
                  <option value="5">Coordinador</option>
                </select>
              </div>
            </div>

            <div class="form-group row justify-content-start" name="groupProfesional" id="groupProfesional" style='display:none;'>
              <label for="inputEspecialidad" class="col-sm-3 col-form-label">Elija especialidades:</label>
              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-7">
                  {% for a in areas %}
                  <p style="font-weight: bold !important;">{{ a.nombreArea }}</p>
                  {% for e in especialidades %}
                  {% if e.area == a %}
                  <input type="checkbox" name="inputEspecialidad" value="{{ e.id }}"> {{ e.nombreEspecialidad }}
                  <br>
                  {% endif %}
                  {% endfor %}
                  {% endfor %}
                </div>
              </div>
            </div>

            </br>

            <div class="row">
              <div class="col-md-3 ml-md-auto">
                <button id="botonRegistrarse" type="submit" class="btn btn-primary" disabled>Registrar</button>
              </div>
              <div class="col-md-3 ml-md-auto"></div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>


  {% endblock content %}
