{% extends 'home.html' %}
{% load staticfiles %}

{% block content %}

<div class="col-sm-12 col-sm-offset-1">
    <div class="header text-center">
        <h2>Crear Ficha Estudiante</h2>
        </br>
    </div>
</div>

{% if messages %}
    {% for message in messages %}
    {% if  message.tags == "error" %}
      <div class="alert alert-danger" role="alert">
    {% elif message.tags == "info" %}
      <div class="alert alert-info" role="alert">
    {% else %}
      <div class="alert alert-success" role="alert">
    {% endif %}
        {{message}}
      </div>
    {% endfor %}
{% endif %}

{% if not alumnos %}

<form method="POST">
  {% csrf_token %}
  <div class="row">
    <div class="col-6 col-md-4"></div>
    <div class="col-6 col-md-4">
      <div class="cuadro-search">
        <input name="inputSearch" type="text" class="searchTerm" placeholder="Ingrese rut o apellidos...">
        <button type="submit" class="searchButton" id="botonBuscar">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
    <div class="col-6 col-md-4"></div>
  </div>
</form>

<br>
<br>
<br>
<br>
<br>

<div class="container">
    <div class="row align-items-end">
      <div class="col-6 col-md-5"></div>
      <div class="col-6 col-md-5">
        <div id="loading" class="spinner-border text-primary" style="display: none; width: 2rem; height: 2rem;"></div>
      </div>
      <div class="col-6 col-md-3"></div>
    </div>
</div>

{% else %}

<div class="col-sm-12 col-sm-offset-1">
    <div class="card">
        <div class="card-content">

            <div class="row cuadro-filtro">
                <div class="col-xs-6 col-md-4">
                    <input class="form-control" id="filtroTabla" type="text" placeholder="Filtrar..">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-7 col-md-5">
                    <p>Resultados de estudiantes sin ficha clínica registrada:</p>
                </div>
            </div>


            <div class="cuadro-tabla">
                <div class="row">

                    <table class="table table-hover table-bordered sortable">
                        <thead class="table-head">
                            <th>Rut</th>
                            <th>Nombre Estudiante</th>
                            <th>Acciones</th>
                        </thead>
                        <tbody id="tablaBusqueda">
                            {% for alumno in alumnos %}
                            <tr>
                                <td>{{alumno.rut}}</td>
                                <td> {{alumno.apellido_paterno}} {{alumno.apellido_materno}} {{alumno.nombre}}</td>
                                <td>
                                    <a href="#modalCrear{{alumno.rut}}" data-toggle="modal" style="color:#339fc3;" data-content="Crear Ficha" rel="popover" data-placement="bottom" data-trigger="hover">
                                        <i class="zmdi zmdi-plus" style="font-size:20px; color:#339fc3;"></i>
                                    </a>
                                </td>

                                <div class="modal fade" id="modalCrear{{alumno.rut}}" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="exampleModalScrollableTitle">
                                    <div class="modal-dialog" role="document">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalScrollableTitle">¡Atención!</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Está a punto de crear una ficha para el estudiante {{alumno.nombre}} {{alumno.apellido_paterno}} {{alumno.apellido_materno}}.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                <a href="{% url 'fichas:confirmarCreacionFicha' id_alumno=alumno.id %}" role="button" class="btn btn-primary">¡Seguro!</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>


        </div>
    </div>
</div>
{% endif %}

<script>
  document.getElementById("botonBuscar").addEventListener("click", function() {
    var div_loading = document.getElementById('loading');
    div_loading.style.display='block';
  });
</script>

{% endblock content %}
