{% extends 'home.html' %}


{% block content %}

<div class="col-sm-12 col-sm-offset-1">
  <div class="header text-center">
    <h2>Crear Alumno</h2>
  </div>
</div>

{% if messages %}
{% for message in messages %}
{% if  message.tags == "error" %}
<div class="alert alert-danger" role="alert">
  {% else %}
  <div class="alert alert-success" role="alert">
    {% endif %}
    {{message}}
  </div>
  {% endfor %}
  {% endif %}

  <div class="col-sm-12 col-sm-offset-1">
    <div class="card">
      <div class="card-content">

        <div class="cuadro-form">

          <form method="POST" name="menuForm">
            {% csrf_token %}

            <div class="form-group row">
              <label for="inputTipoDocumento" class="col-sm-2 col-form-label">Elija tipo de documento:</label>
              <div class="col-sm-3">
                <select class="custom-select mr-sm-2" id="inputTipoDocumento" name="inputTipoDocumento" onchange='CheckDocumento(this.value);' required>
                  <option value="" selected>Elegir...</option>
                  <option value="CEDULA">Cédula de Identidad</option>
                  <option value="PASAPORTE">Pasaporte</option>
                </select>
              </div>
            </div>

            <div class="form-group row" name="groupRut" id="groupRut" style='display:none;'>
              <label for="inputRut" class="col-sm-3 col-form-label">Ingrese su Rut:</label>
              <div class="col-sm-7">
                <input disabled type="text" class="form-control" id="inputRut" name="inputRut" placeholder="p.e. 12345678-9" required autofocus>
              </div>
              <small class="text-info" id="msgRut"></small>
            </div>

            <div class="form-group row" name="groupPasaporte" id="groupPasaporte" style='display:none;'>
              <label for="inputPasaporte" class="col-sm-2 col-form-label">Ingrese su Pasaporte:</label>
              <div class="col-sm-7">
                <input disabled type="text" class="form-control" id="inputPasaporte" name="inputPasaporte" placeholder="p.e. P01234567" required autofocus>
              </div>
            </div>


            </br>


            <div class="form-group row">
              <label for="inputNombre" class="col-sm-2 col-form-label">Nombres:</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="inputNombre" name="inputNombre" placeholder="Nombres" required>
              </div>
            </div>


            <div class="form-group row">
              <label for="inputNombre" class="col-sm-2 col-form-label">Apellidos:</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" id="inputApellidoPaterno" name="inputApellidoPaterno" placeholder="Apellido Paterno" required>
              </div>
              <div class="col-sm-5">
                <input type="text" class="form-control" id="inputApellidoMaterno" name="inputApellidoMaterno" placeholder="Apellido Materno" required>
              </div>
            </div>


            </br>


            <div class="form-group row">
              <label for="inputCorreo" class="col-sm-2 col-form-label">Correo:</label>
              <div class="col-sm-8">
                <input type="email" class="form-control" id="inputCorreo" name="inputCorreo" placeholder="email@example.com" required>
              </div>
            </div>


            </br>


            <div class="form-group row">
              <label for="inputGeneracion" class="col-sm-2 col-form-label">Fecha de Nacimiento:</label>
              <div class="col-sm-3">
                <input type="date" class="form-control" id="inputFechaNacimiento" name="inputFechaNacimiento" required>
              </div>
            </div>


            </br>


            <div class="form-group row">
              <label for="inputSexo" class="col-sm-2 col-form-label">Sexo:</label>
              <div class="col-sm-2">
                <select class="custom-select mr-sm-2" id="inputSexo" name="inputSexo" required>
                  <option value="" selected>Elegir...</option>
                  <option value="Mujer">Mujer</option>
                  <option value="Hombre">Hombre</option>
                </select>
              </div>
            </div>


            </br>


            <div class="form-group row">
              <label for="inputDomicilio" class="col-sm-2 col-form-label">Domicilio:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputDomicilio" name="inputDomicilio" placeholder="Calle, N°, Depto, Villa, Ciudad" required>
              </div>
            </div>


            </br>


            <div class="form-group row">
              <label for="inputCarrera" class="col-sm-2 col-form-label">Carrera:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputCarrera" name="inputCarrera" placeholder="Ingrese la carrera del alumno" required>
              </div>
            </div>


            </br>


            <div class="form-group row">
              <label for="inputRepresentante" class="col-sm-2 col-form-label">Representante Legal o Apoderado:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputRepresentante" name="inputRepresentante" placeholder="Ingrese el nombre del apoderado" required>
              </div>
            </div>

            </br>


            <div class="form-group row">
              <label for="inputPrevision" class="col-sm-2 col-form-label">Prevision:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputPrevision" name="inputPrevision" placeholder="Fonasa, Isapre, Capredena..." required>
              </div>
            </div>
            </br>
            </br>
            <div class="row">
              <div class="col-md-3 ml-md-auto">
                <button id="botonRegistrarse" type="submit" class="btn btn-primary" disabled>Registrar</button>
              </div>
              <div class="col-md-3 ml-md-auto"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% endblock content %}
