<html>
  <body>
    <p>Nombre actual Especialidad: {{ nombreEspecialidad }} </p>


    <form id="formularioNuevoNombreEspecialidad" action={% url 'editarEspecialidad' %} method="post"> {% csrf_token %}
      {{ form.as_p }}
      <label for="area">Ingrese nuevo nombre para la Especialidad: </label>
      <br>
      <input id="nuevoNombreEspecialidad" type="text" name="nuevoNombreEspecialidad">
      <input type="hidden" id="idEspecialidad" type="number" name="idEspecialidad" value={{ idEspecialidad }}>
      <input type="hidden" id="idArea" type="number" name="idArea" value={{ idArea }}>
      <input type="submit" value="Submit">
    </form>



    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
     {% block javascript %}
       <script>

       //  validar formulario
       $('#formularioNuevoNombreEspecialidad').submit(function(e){
         e.preventDefault();
         var form = this;
         // var direccion = "fichaube/editar-Especialidad/" + {{ idEspecialidad }} +"/ajax/validarEspecialidad"
         var especialidad = $('#nuevoNombreEspecialidad').val();
         especialidad = especialidad.trim();
         // formulario no esta vacio
         if (especialidad == null || especialidad == ""){
           alert('Debe ingresar un nombre para la Especialidad');
           return false;
         }
         else{
           // codigo AJAX  para comprobar si la Especialidad existe previamente
           $.ajax({
             url: "ajax/validarEspecialidad",
             data: {
               'especialidad': especialidad
             },
             dataType: 'json',
             success: function (data) {
               if (data.is_taken){
                 alert('La Especialidad ingresada ya se encuentra registrada');
                 return false;
               }
               else{
                 form.submit();
               }
           }
         }); // fin AJAX
       }
     });

       </script>
     {% endblock %}


  </body>
</html>
