<html>
  <body>
    <p>Nombre actual Area: {{ nombreArea }} </p>

    <!-- aqui tambien tengo que ver lo de que se repitan -->

    <form action={% url 'editarArea' %} method="post" onsubmit="return validarFormulario()"> {% csrf_token %}
      {{ form.as_p }}
      <label for="area">Ingrese nuevo nombre de Area: </label>
      <br>
      <input id="nuevoNombreArea" type="text" name="nuevoNombreArea">
      <input type="hidden" id="idArea" type="number" name="idArea" value={{ idArea }}>
      <input type="submit" value="Submit">
    </form>



    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
     {% block javascript %}
       <script>  // AJAX para corroborar que el nuevo nombre del area no existe
         $("#nuevoNombreArea").change(function () {
           // console.log($(this).val());
           var area = $(this).val();
           $.ajax({
             url: 'ajax/validarArea',
             data: {
               'area': area
             },
             dataType: 'json',
             success: function (data) {
               if (data.is_taken){
                 alert('El Area ingresada ya se encuentra registrada')
               }
             }
           });
         });


         // funcion para validar que el campo no esta vacio
         function validarFormulario(){
           area = document.getElementById("nuevoNombreArea").value
           // console.log(area);
           if (area == null || area == ""){
             alert('Debe ingresar un nuevo nombre para el Área');
             return false;
           }
           else {
             return true;
           }
         }

       </script>
     {% endblock %}


  </body>
</html>
