{% extends 'home.html' %}
{% load staticfiles %}

{% block content %}

<div class="col-sm-12 col-sm-offset-1">
    <div class="header text-center">
        <h2>Encuestas</h2>
        </br>
        <h6>Elija a continuación qué encuesta ver.</h6>
    </div>
</div>

<div class="col-sm-12 col-sm-offset-1">
    <div class="card">
        <div class="card-content">
            
            <div class="row cuadro-filtro">
                <div class="col-xs-12 col-md-8">
                   <a href="{% url 'crearEncuesta' %}" class="btn btn-primary btn-sm"> 
                        <i class="zmdi zmdi-plus-circle" style="font-size:25px; color:#00000;"></i>
                    </a>
                </div>
                <div class="col-xs-6 col-md-4">
                    <input class="form-control" id="filtroTabla" type="text" placeholder="Filtrar..">
                </div>
            </div>

            <div class="cuadro-tabla">
                </br>
                <div class="row">
                    <table class="table table-hover table-bordered">
                        <thead class="table-head">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Fecha de Creación</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for e in encuestas %}
                            <tr>
                                <th scope="row">{{e.description}}</th>
                                <td>{{e.get_fecha}}</td>
                                <td><a href="#modalView" data-toggle="modal" style="color:#339fc3;" data-content="Ver" rel="popover" data-placement="bottom" data-trigger="hover">
                                        <i class="zmdi zmdi-eye" style="font-size:20px; color:#339fc3;"></i>
                                    </a>
                                    <a href="#" style="color:#339fc3;" data-content="Editar" rel="popover" data-placement="bottom" data-trigger="hover">
                                        <i class="zmdi zmdi-edit" style="font-size:20px; color:#339fc3;"></i>
                                    </a>
                                    <a href="#modalDelete" data-toggle="modal" style="color:#339fc3;" data-content="Borrar" rel="popover" data-placement="bottom" data-trigger="hover">
                                        <i class="zmdi zmdi-delete" style="font-size:20px; color:#339fc3;"></i>
                                    </a>
                                    
                                    <div id="modalView" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                        <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Detalles Encuesta</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <ul class="list-group list-group-flush">
                                                    {% for p in preguntas %}
                                                        {% if p.encuesta == e %}
                                                        <li class="list-group-item list-group-item-primary">Pregunta: {{p.pregunta.description}}</li>
                                                        {% for a in alternativas %}
                                                            {% if a.pregunta == p.pregunta %}
                                                            <li class="list-group-item list-group-item-secondary">{{a.alternativa.description}}</li>
                                                            {% endif %}
                                                        {% endfor %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    </ul>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="modalDelete" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">¡Atención!</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>¿Está seguro que quiere eliminar la encuesta?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                    <a href="#" role="button" class="btn btn-primary">¡Seguro!</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </td>
                            </tr>
                            {% endfor %}
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalCreate" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Crear nueva encuesta</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'crearEncuesta' %}" method="POST">{% csrf_token %} 
                        <div class="form-group">
                            <label for="exampleInputYear">Año</label>
                                <input type="number" class="form-control" id="exampleInputYear" name="annio" min="1900" max="2099" value="2019" placeholder="Ingrese Año">
                            </div>
                        <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-primary">Crear</a>
                        </div>
                        </div>
                    </form>
                </div>
                
        </div>
    </div>


{% endblock content %}