{% extends 'home.html' %}
{% load staticfiles %}
{% block content %}


<div class="col-sm-12 col-sm-offset-1">
    <div class="header text-center">
        <h2>Tu Grupo</h2>
        </br>
    </div>
</div>


{% if messages %}
    {% for message in messages %}
    {% if  message.tags == "error" %}
    <div class="alert alert-danger" role="alert">
    {% else %}
    <div class="alert alert-success" role="alert">
    {% endif %}
        {{message}}
    </div>
    {% endfor %}
{% endif %}


<div class="col-sm-12 col-sm-offset-1">
    <div class="card">
        <div class="card-content">

        {% if not grupo %}
            <br>
                <center><div class="alert alert-warning col-sm-6" role="alert">
                    <h4 class="alert-heading">¡No tienes un grupo!</h4>
                    <p>Puede ser que como no has hecho la encuesta o aún no se genera el emparejamiento, no se te ha asignado un grupo aún.</p>
                    <hr>
                    <p class="mb-0">Sino has hecho la encuesta, debes ir al menú principal y seleccionar Realizar Tu Encuesta en la sección Encuesta.</p>
                </div></center>
            {% else %}
        
        <div class="cuadrotrans">
            </br>
            <h6>¡Felicidades, ahora tienes un grupo hecho a tu medida!</h6>
            <p>Acá tienes a los integrantes que compononen tu grupo:</p>
            <br>
            <ul class="list-group">
            {% for g in grupo %}
            {% if perfil.es_Mechon == True %}
                {% if forloop.first %}
                <li class="list-group-item list-group-item-info">{{g.padrino.nombre}} {{g.padrino.apellidos}} (PADRINO)</li>
                {% endif %}
                {% if perfil.id != g.ahijado.id %}
                <li class="list-group-item">{{g.ahijado.nombre}} {{g.ahijado.apellidos}} (AHIJADO)</li>
                {% endif %}
            {% else %}
                <li class="list-group-item">{{g.ahijado.nombre}} {{g.ahijado.apellidos}} (AHIJADO)</li>
            {% endif %}
            {% endfor %}
            
            </ul>
        </div>

        {% endif %}

        </div>
    </div>
</div>

{% endblock content %}