<html>
  <body>
    <table style="width:50%">
      <tr>
        <th>Nombre Especialidad</th>
        <th>Borrar</th>
        <th>Editar</th>
      </tr>
      {% for especialidad in especialidades %}
      <tr>
        <td>{{especialidad.nombreEspecialidad}}</td>
        <td><a href="{% url 'eliminarEspecialidad' idEspecialidad=especialidad.id idArea=idArea %}">Borrar</a> </td>
        <td><a href="{% url 'editar-Especialidad' idEspecialidad=especialidad.id idArea=idArea %}">Editar</a></td>
      </tr>
      {% endfor %}
    </table>
    <br>
    <form action="{% url 'agregar-Especialidad' %}" method="post"> {% csrf_token %}
      <input type="hidden" value={{ idArea }} name="idArea">
      <input type="submit" value="Agregar Especialidad">
    </form>

  </body>
</html>
