{% extends 'home.html' %}
{% block content %}

<div class="col-sm-12 col-sm-offset-1">
  <div class="header text-center">
    <h2>Generación de Reportes</h2>
  </div>
</div>

{% if messages %}
{% for message in messages %}
{% if  message.tags == "error" %}
<div class="alert alert-danger" role="alert">
  {% else %}
  <div class="alert alert-success" role="alert">
    {% endif %}
    {{message}}
  </div>
  {% endfor %}
  {% endif %}

  <div class="col-sm-12 col-sm-offset-1">
    <div class="card">
      <div class="card-content">
        <div class="cuadro-tabla">
          <div class="form-group">
            <label for="exampleInputFile">Descargar reporte de fichas clínicas:</label>
            <a id="generarReporte" type="button" name="generarReporte" class="btn btn-primary"type="submit" href="{% url 'fichas:generarReporte' %}">Descargar</a>
            <small id="emailHelp" class="form-text text-muted">
              Se descargará un archivo .xlsx que contiene los alumnos que poseen una ficha clínica, y el total de estos.</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
   <script>
     // $('#generarReporte').click(function(){
    //   $.ajax({
    //     url: 'ajax/generarReporte',
    //     success: function(response){
    //       return true;     }
    //});
   //});
   </script>


  {% endblock content %}
