{% extends 'home.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

<div class="col-sm-12 col-sm-offset-1">
        <div class="header text-center">
            <h2>Respuestas</h2>
            </br>
        </div>
    </div>

    {% if messages %}
        {% for message in messages %}
            {% if  message.tags == "error" %}
                <div class="alert alert-danger" role="alert">
            {% else %}
            <div class="alert alert-success" role="alert">
            {% endif %}
            {{message}}
            </div>
        {% endfor %}
    {% endif %}

    <div class="col-sm-12 col-sm-offset-1">
        <div class="card">
            <div class="card-content">

                {% if not respuestas %}
                    <br>
                    <center><div class="alert alert-warning col-sm-6" role="alert">
                        <h4 class="alert-heading">¡No hay respuestas disponibles!</h4>
                        <p>Puede ser que como no has hecho la encuesta, no se han logrado obtener tus respuestas de la encuesta aún.</p>
                        <hr>
                        <p class="mb-0">Para realizar la encuesta, debes ir al menú principal y seleccionar Realizar tu Encuesta en la sección Encuesta.</p>
                    </div></center>
                {% else %}

                <div class="cuadrotrans">
                    </br>
                    <h6>¿Olvidaste qué respondiste? Acá puedes ver tus respuestas.</h6>
                    <br>
                    {% with respuestas|first as respuesta %}
                    {% language 'es' %}
                    <p>La encuesta fue respondida el: {{respuesta.created_at|date:"d/F/Y"}}</p>
                    {% endlanguage %}
                    {% endwith %}
                    <br>
                    <ul class="list-group">
                    {% for r in respuestas %}
                        <li class="list-group-item list-group-item-info"><b>{{r.pregunta.description}}</b></li>
                        <li class="list-group-item">{{r.alternativa.description}}</li>
                    {% endfor %}
                    </ul>
                </div>


                {% endif %}

            </div>
        </div>
    </div>


{% endblock content %}