{% extends 'home.html' %}
{% load staticfiles %}



{% block content %}

<div class="col-sm-12 col-sm-offset-1">
    <div class="header text-center">
        <h2>Resultados por Alumno</h2>
        </br>
    </div>
</div>

{% if messages %}
    {% for message in messages %}
    {% if  message.tags == "error" %}
    <div class="alert alert-danger" role="alert">
    {% else %}
    <div class="alert alert-success" role="alert">
    {% endif %}
        {{message}}
    </div>
    {% endfor %}
{% endif %}

<div class="col-sm-12 col-sm-offset-1">
    <div class="card">
        <div class="card-content">

            {% if not actividades %}
                <br>
                    <center><div class="alert alert-warning col-sm-6" role="alert">
                        <h4 class="alert-heading">¡No hay resultados disponibles!</h4>
                        <p>Puede ser que como no hayas hecho la importación, no se han obtenido resultados de alumnos aún.</p>
                        <hr>
                        <p class="mb-0">Para hacer la importación de alumnos, debes ir al menú principal y seleccionar Importación en la sección Apadrinamiento.</p>
                    </div></center>
                {% else %}

            <div class="cuadro-filtro d-flex justify-content-end">
                </br>
                <input class="form-control" id="filtroTabla" type="text" placeholder="Filtrar..">
                </br>
            </div>


            <div class="cuadro-tabla">
                </br>
                <div class="row">

                    <table class="table table-hover table-bordered">
                        <thead class="table-head">
                            <th>Rut</th>
                            <th>Nombre Alumno</th>
                            <th>Año Participación</th>
                            <th>Estado Encuesta</th>
                            <th>Respuestas</th>
                        </thead>
                        <tbody id="tablaBusqueda">
                            {% for a in actividades %}
                            <tr>
                                <td>{{a.alumno.rut}}</td>
                                <td>{{a.alumno.nombre}} {{a.alumno.apellidos}}</td>
                                <td class="tablaNumero">{{a.anno_participacion}}</td>
                                {% if a.status %}
                                <td>COMPLETADA</td>
                                <td>
                                    <a href="#modalDetalles{{a.id}}" data-toggle="modal" style="color:#339fc3;" data-content="Detalles" rel="popover" data-placement="bottom" data-trigger="hover">
                                        <i class="zmdi zmdi-eye" style="font-size:20px; color:#339fc3;"></i>
                                    </a>
                                </td>
                                {% else %}
                                <td>PENDIENTE</td>
                                <td>-</td>
                                {% endif %}
                                <div id="modalDetalles{{a.id}}" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Detalles Resultado Encuesta</h4>
                                            </div>
                                            <div class="modal-body">
                                            {% for r in respuestas %}
                                            {% if r.actividad == a %}
                                                <b>{{r.pregunta.description}}</b>
                                                <p>{{r.alternativa.description}}</p>
                                            {% endif %}
                                            {% endfor %}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>


{% endblock content %}