{% extends 'home.html' %}
{% load static %}
{% load auth_extras %}

{% block content %}


<div class="col-sm-12 col-sm-offset-1">
  <div class="header text-center">
    <h2>Ver Estudiante</h2>
  </div>
</div>

{% if messages %}
{% for message in messages %}
{% if  message.tags == "error" %}
<div class="alert alert-danger" role="alert">
  {% else %}
  <div class="alert alert-success" role="alert">
    {% endif %}
    {{message}}
  </div>
  {% endfor %}
  {% endif %}

  <div class="col-sm-12 col-sm-offset-1">
    <div class="card">
      <div class="card-content">
        <div class="cuadrotrans">
          <h3>Datos personales</h3>
          {% if request.user|has_group:"Coordinador" or request.user|has_group:"Administrativo" or request.user.is_superuser %}
          <div class="row">
            <div class="col-auto mr-auto"></div>
            <div class="col-auto">
              <a href="{% url 'alumnos:updateAlumno' id_alumno=alumno.id %}" style="color:#339fc3;" data-content="Editar" rel="popover" data-placement="bottom" data-trigger="hover">
                <i class="zmdi zmdi-edit" style="font-size:20px; color:#339fc3;"></i>
              </a>
            </div>
          </div>
          {% endif %}
          </br>
          </br>
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-6">
                  <h6>Nombre</h6>
                  <p style="text-transform: uppercase;">{{ alumno.apellido_paterno }} {{ alumno.apellido_materno }} {{ alumno.nombre }}</p>
                </div>
                <div class="col-sm-3">
                  <h6>RUT/PASAPORTE</h6>
                  <p>{{ alumno.rut }}</p>
                </div>
                <div class="col-sm-3">
                  <h6>Carrera</h6>
                  <p>{{ alumno.carrera }}</p>
                  <!-- BEGIN: Separacion interlineado -->
                  <p>
                    <br><br>
                  </p>
                  <!-- END: Separacion interlineado -->
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <h6>Correo estudiante</h6>
                  <p>
                    <a href="mailto:{{ alumno.correo }}">{{ alumno.correo }}</a>
                  </p>
                </div>
                <div class="col-sm-3">
                  <h6>Fecha Nacimiento</h6>
                  {% if alumno.get_fecha %}
                  <p>{{ alumno.get_fecha }}</p>
                  {% endif %}
                </div>
                <div class="col-sm-3">
                  <h6>Sexo</h6>
                  <p>{{ alumno.sexo }}</p>
                  <!-- BEGIN: Separacion interlineado -->
                  <p>
                    <br><br>
                  </p>
                  <!-- END: Separacion interlineado -->
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <h6>Domicilio</h6>
                  <p>{{ alumno.domicilio }}</p>
                </div>
                <div class="col-sm-3">
                  <h6>Prevision</h6>
                  <p>{{ alumno.prevision }}</p>
                </div>
              </div>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if not ficha %}
  {% else %}

  {% if request.user|has_group:"Profesional" or request.user|has_group:"Asistente Social" %}

  {% for p in permisos%}
  {% if profesional == p.usuario and ficha == p.ficha %}

  <div class="col-sm-12 col-sm-offset-1">
    <div class="card">
      <div class="card-content">
        <div class="cuadrotrans">
          <h3>Ficha Clínica</h3>
          </br>
          </br>
          <div class="row">
            <form method="POST" style="width:100%">
              {% csrf_token %}
              <div class="row">
                <div class="col-sm-6">
                  <h6>Observaciones:</h6>
                  <textarea name="inputObservaciones" rows="4" cols="70" required></textarea>
                  <br>
                </div>
                <div class="col-sm-4">
                  <h6>Especialidad:</h6>
                  <select class="custom-select mr-sm-2" name="inputMotivo" required>
                    <option value="" selected hidden>Elegir...</option>
                    {% if request.user|has_group:"Asistente Social" %}
                    <option value="Asistente Social">Asistente Social</option>
                    {% else %}
                    {% for e in especialidades %}
                    <option value="{{ e.especialidad.id }}">{{ e.especialidad.nombreEspecialidad }}</option>
                    {% endfor %}
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-8">
                  <input type="hidden" id="inputRutProfesional" name="inputRutProfesional" value="{{ profesional.rut }}">
                </div>
                <div class="col-sm-4">
                  <br>
                  <center>
                    <button type="submit" class="btn btn-primary" {% if request.user.is_superuser %}disabled{% endif %}>Registrar</button>
                  </center>
                </div>
              </div>
            </form>
          </div>


          <hr>

          <div style="overflow-x:auto;">
            <h4>Registros</h4>
            <table class="table table-hover table-bordered sortable" style="width:100%;">
              <thead class="table-head">
                <th>Fecha</th>
                <th>Especialidad</th>
                <th>Observaciones</th>
                <th>Profesional</th>
              </thead>
              <tbody>
                {% for registro in registros %}
                {% if request.user|has_group:"Asistente Social" %}
                {% if registro.motivo_atencion == "Asistente Social" %}
                <tr>
                  <td style="width:20%">{{registro.get_fecha}}</td>
                  <td style="width:20%">{{registro.motivo_atencion}}</td>
                  <td style="width:20%">{{registro.descripcion_atencion}}</td>
                  <td style="width:20%">{{registro.profesional.nombre}} {{registro.profesional.apellidos}}</td>
                </tr>
                {% else %}
                {% endif %}
                {% else %}
                <tr>
                  <td style="width:20%">{{registro.get_fecha}}</td>
                  <td style="width:20%">{{registro.motivo_atencion}}</td>
                  <td style="width:20%"><span id="dots1{{registro.id}}"></span><span id="more1{{registro.id}}" style="display: none;">{{registro.descripcion_atencion}}</span> <a onclick="readMore1({{registro.id}})" id="readMore1{{registro.id}}" style="color: #339fc3;">[Ver]</a></td>
                  <td style="width:20%">{{registro.profesional.nombre}} {{registro.profesional.apellidos}}</td>
                </tr>
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
            <center>
              <button type="submit" class="btn btn-primary" {% if request.user.is_superuser %}disabled{% endif %}>Registrar</button>
            </center>
          </div>

        </div>
      </div>
    </div>
  </div>

  {% endif %}
  {% endfor %}
  {% endif %}

  {% if request.user|has_group:"Coordinador" %}

  <div class="col-sm-12 col-sm-offset-1">
    <div class="card">
      <div class="card-content">
        <div class="cuadrotrans">
          <h3>Ficha Clínica</h3>
          <div class="row">
            <div class="col-auto mr-auto"></div>

          </div>
          </br>
          </br>

          <div class="row">
            <form action="{% url 'fichas:crearRegistro' id_alumno=alumno.id %}" method="POST" style="width:100%">
              {% csrf_token %}
              <div class="row">
                <div class="col-sm-6">
                  <h6>Observaciones:</h6>
                  <textarea name="inputObservaciones" rows="4" cols="70" required></textarea>
                  <br>
                </div>
                <div class="col-sm-4">
                  <h6>Especialidad:</h6>
                  <select class="custom-select mr-sm-2" name="inputMotivo" required>
                    <option value="" selected hidden>Elegir...</option>
                    {% for e in especialidades %}
                    <option value="{{ e.especialidad.id }}">{{ e.especialidad.nombreEspecialidad }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-8">
                  <input type="hidden" id="inputRutProfesional" name="inputRutProfesional" value="{{ profesional.rut }}">
                </div>
                <div class="col-sm-4">
                  <br>
                  <center>
                    <button type="submit" class="btn btn-primary" {% if request.user.is_superuser %}disabled{% endif %}>Registrar</button>
                  </center>
                </div>
              </div>
            </form>
          </div>


          <hr>

          <div style="overflow-x:auto;">
            <h4>Registros</h4>
            <table class="table table-hover table-bordered sortable" style="width:100%;">
              <thead class="table-head">
                <th>Fecha</th>
                <th>Especialidad</th>
                <th>Observaciones</th>
                <th>Profesional</th>
              </thead>
              <tbody>
                {% for registro in registros %}
                <tr>
                  <td style="width:10%">{{registro.get_fecha}}</td>
                  <td style="width:10%">{{registro.motivo_atencion}}</td>
                  <td style="width:65%;white-space:pre-wrap"><span id="dots1{{registro.id}}"></span><span id="more1{{registro.id}}" style="display: none;">{{registro.descripcion_atencion}}</span> <a onclick="readMore1({{registro.id}})" id="readMore1{{registro.id}}" style="color: #339fc3;">[Ver]</a></td>
                  <td style="width:15%">{{registro.profesional.nombre}} {{registro.profesional.apellidos}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-sm-8">
            </div>
            <div class="col-sm-4">
              <br>
              <center>
                <form action="{% url 'fichas:crearFichaPDF' id_alumno=alumno.id %}">
                  <input type="submit" class="btn btn-primary" {% if request.user.is_superuser %}disabled{% endif %} value="Descargar Ficha">
                </form>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endif %}

  {% endif %}

  {% if request.user|has_group:"Coordinador" or request.user|has_group:"Administrativo" or request.user.is_superuser %}

  <div class="col-sm-12 col-sm-offset-1">
    <div class="card">
      <div class="card-content">
        <div class="cuadrotrans">
          <h3>Permisos</h3>

          {% if not ficha %}
          <p>Este estudiante aún no tiene ficha clínica creada.</p>
          {% else %}

          <div class="row cuadro-filtro">
            <div class="col-xs-12 col-md-8">
              <a href="{% url 'permisos:cederPermiso' id_alumno=alumno.id %}" class="btn btn-primary btn-sm">
                <i class="zmdi zmdi-plus-circle" style="font-size:15px; color:#00000;"></i>
              </a>
            </div>
            <div class="col-xs-6 col-md-4">
              <input class="form-control" id="filtroTabla" type="text" placeholder="Filtrar..">
            </div>
          </div>


          <div class="cuadro-tabla">
            <div style="overflow-x:auto;">
              <table class="table table-hover table-bordered">
                <thead class="table-head">
                  <th>Profesional</th>
                  <th>Opciones</th>
                </thead>
                <tbody id="tablaBusqueda">
                  {% for permiso in permisos %}
                  <tr>
                    <td>{{permiso.get_nombre}}</td>
                    <td>
                      <a href="#modalRevocar{{permiso.id}}" data-toggle="modal" style="color:#339fc3;" data-content="Revocar Permisos" rel="popover" data-placement="bottom" data-trigger="hover">
                        <i class="zmdi zmdi-minus-circle-outline" style="font-size:20px; color:#339fc3;"></i>
                      </a>
                    </td>

                    <div id="modalRevocar{{permiso.id}}" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true" style="top:125px;">
                      <div class="modal-dialog" role="document">
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title">¡Atención!</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <p>¿Desea quitar el acceso a la ficha clínica a este profesional </p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <a href="{% url 'permisos:revocarPermiso' id_permiso=permiso.id id_alumno=alumno.id %}" role="button" class="btn btn-primary">¡Seguro!</a>
                          </div>
                        </div>
                      </div>
                    </div>

                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% endif %}

  <script>
    function readMore1(id) {
      var dots = document.getElementById("dots1".concat(id));
      var moreText = document.getElementById("more1".concat(id));
      var btnText = document.getElementById("readMore1".concat(id));

      if (dots.style.display === "none") {
        dots.style.display = "inline";
        btnText.innerHTML = "[Ver]";
        moreText.style.display = "none";
      } else {
        dots.style.display = "none";
        btnText.innerHTML = "<br>[Ocultar]";
        moreText.style.display = "inline";
      }
    }

    function readMore2(id) {
      var dots = document.getElementById("dots2".concat(id));
      var moreText = document.getElementById("more2".concat(id));
      var btnText = document.getElementById("readMore2".concat(id));

      if (dots.style.display === "none") {
        dots.style.display = "inline";
        btnText.innerHTML = "[Ver]";
        moreText.style.display = "none";
      } else {
        dots.style.display = "none";
        btnText.innerHTML = "<br>[Ocultar]";
        moreText.style.display = "inline";
      }
    }
  </script>

  {% endblock content %}
