{% extends 'home.html' %}
{% load static %}
{% load auth_extras %}

{% block content %}


<div class="col-sm-12 col-sm-offset-1">
    <div class="header text-center">
        <h2>Perfil Usuario</h2>
    </div>
</div>

{% if messages %}
    {% for message in messages %}
    {% if  message.tags == "error" %}
      <div class="alert alert-danger" role="alert">
    {% elif message.tags == "info" %}
      <div class="alert alert-info" role="alert">
    {% else %}
      <div class="alert alert-success" role="alert">
    {% endif %}
        {{message}}
      </div>
    {% endfor %}
{% endif %}

<div class="col-sm-12 col-sm-offset-1">
    <div class="card">
        <div class="card-content">
            <div class="cuadrotrans">
                <h3>Datos personales</h3>
                {% if request.user|has_group:"Coordinador" or request.user|has_group:"Administrativo" or request.user.is_superuser %}
                  {% if request.user|has_group:"Coordinador" and not usuario.coordinador %}
                  <div class="row">
                    <div class="col-auto mr-auto"></div>
                    <div class="col-auto">
                      <a href="{% url 'usuarios:updateUsuario' id_usuario=usuario.id %}" style="color:#339fc3;" data-content="Editar" rel="popover" data-placement="bottom" data-trigger="hover">
                        <i class="zmdi zmdi-edit" style="font-size:20px; color:#339fc3;"></i>
                      </a>
                    </div>
                  </div>
                  {% endif %}
                  {% if request.user|has_group:"Administrativo" and not usuario.coordinador and not usuario.administrativo and not usuario.mantenedor %}
                  <div class="row">
                    <div class="col-auto mr-auto"></div>
                    <div class="col-auto">
                      <a href="{% url 'usuarios:updateUsuario' id_usuario=usuario.id %}" style="color:#339fc3;" data-content="Editar" rel="popover" data-placement="bottom" data-trigger="hover">
                        <i class="zmdi zmdi-edit" style="font-size:20px; color:#339fc3;"></i>
                      </a>
                    </div>
                  </div>
                  {% endif %}
                  {% if request.user.is_superuser %}
                  <div class="row">
                    <div class="col-auto mr-auto"></div>
                    <div class="col-auto">
                      <a href="{% url 'usuarios:updateUsuario' id_usuario=usuario.id %}" style="color:#339fc3;" data-content="Editar" rel="popover" data-placement="bottom" data-trigger="hover">
                        <i class="zmdi zmdi-edit" style="font-size:20px; color:#339fc3;"></i>
                      </a>
                    </div>
                  </div>
                  {% endif %}
                {% endif %}
                </br>
                </br>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6">
                                <h6>Nombre</h6>
                                <p style="text-transform: uppercase;">{{ usuario.apellidos }} {{ usuario.nombre }}</p>
                            </div>
                            <div class="col-sm-4">
                                <h6>RUT</h6>
                                <p>{{ usuario.rut }}</p>
                                <!-- BEGIN: Separacion interlineado -->
                                <p>
                                    <br><br>
                                </p>
                                <!-- END: Separacion interlineado -->
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <h6>Tipo de Usuario</h6>
                                {% if usuario.coordinador %}
                                <p>Coordinador</p>
                                {% elif usuario.profesional %}
                                <p>Profesional</p>
                                {% elif usuario.administrativo %}
                                <p>Administrativo</p>
                                {% elif usuario.mantenedor %}
                                <p>Mantenedor</p>
                                {% else %}
                                <p>Asistente Social</p>
                                {% endif %}
                            </div>
                            <div class="col-sm-6">
                                <h6>Especialidades</h6>
                                {% for e in especialidades %}
                                <p>{{ e.especialidad.nombreEspecialidad }}</p>
                                {% endfor %}

                                <!-- BEGIN: Separacion interlineado -->
                                <p>
                                    <br><br>
                                </p>
                                <!-- END: Separacion interlineado -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <h6>Personal Vigente</h6>
                                <p>
                                  {% if usuario.user %}
                                    {% if usuario.user.is_active %}
                                    Si
                                    {% else %}
                                    No
                                    {% endif %}
                                  {% else %}
                                  No tiene cuenta asociada
                                  {% if request.user|has_group:"Coordinador" or request.user.is_superuser %}
                                  [
                                  <a href="{% url 'usuarios:crearCuenta' id_usuario=usuario.id %}" style="color:#339fc3;" data-content="Crear Cuenta" rel="popover" data-placement="bottom" data-trigger="hover">
                                    <i class="zmdi zmdi-account-add" style="font-size:20px; color:#339fc3;"></i>
                                  </a>
                                  ]
                                  {% endif %}
                                  {% endif %}
                                </p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
