
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
fichaube/fichaube/__pycache__/settings.cpython-37.pyc
fichaube/administrativo/__pycache__/__init__.cpython-37.pyc
fichaube/administrativo/__pycache__/admin.cpython-37.pyc
fichaube/administrativo/__pycache__/models.cpython-37.pyc
fichaube/administrativo/__pycache__/apps.cpython-37.pyc
fichaube/administrativo/migrations/__pycache__/__init__.cpython-37.pyc
fichaube/alumnos/__pycache__/__init__.cpython-37.pyc
fichaube/alumnos/__pycache__/admin.cpython-37.pyc
fichaube/alumnos/__pycache__/apps.cpython-37.pyc
fichaube/alumnos/__pycache__/models.cpython-37.pyc
fichaube/alumnos/migrations/__pycache__/__init__.cpython-37.pyc
fichaube/areas/__pycache__/__init__.cpython-37.pyc
fichaube/areas/__pycache__/admin.cpython-37.pyc
fichaube/areas/migrations/__pycache__/__init__.cpython-37.pyc
fichaube/areas/__pycache__/models.cpython-37.pyc
fichaube/areas/__pycache__/apps.cpython-37.pyc
fichaube/fichaube/__pycache__/__init__.cpython-37.pyc
fichaube/fichas/__pycache__/apps.cpython-37.pyc
fichaube/fichas/__pycache__/models.cpython-37.pyc
fichaube/fichas/migrations/__pycache__/__init__.cpython-37.pyc
fichaube/fichas/__pycache__/admin.cpython-37.pyc
fichaube/fichas/__pycache__/__init__.cpython-37.pyc
fichaube/coordinador/migrations/__pycache__/__init__.cpython-37.pyc
fichaube/coordinador/__pycache__/models.cpython-37.pyc
fichaube/coordinador/__pycache__/apps.cpython-37.pyc
fichaube/coordinador/__pycache__/admin.cpython-37.pyc
fichaube/coordinador/__pycache__/__init__.cpython-37.pyc
fichaube/main/migrations/__pycache__/__init__.cpython-37.pyc
fichaube/main/__pycache__/models.cpython-37.pyc
fichaube/main/__pycache__/admin.cpython-37.pyc
fichaube/main/__pycache__/__init__.cpython-37.pyc
fichaube/fichaube/settings.py
fichaube/fichaube/__pycache__/wsgi.cpython-37.pyc
fichaube/fichaube/__pycache__/urls.cpython-37.pyc
fichaube/fichaube/__pycache__/settings.cpython-37.pyc
fichaube/areas/__pycache__/models.cpython-37.pyc
fichaube/alumnos/__pycache__/models.cpython-37.pyc
fichaube/usuarios/__pycache__/models.cpython-37.pyc
*.pyc
fichaube/administrativo/migrations/__pycache__/__init__.cpython-37.pyc
*.pyc
fichaube/areas/__pycache__/admin.cpython-37.pyc
